In [6]:
import pandas as pd
import numpy as np
import scipy as sc
import joblib
from sklearn.feature_extraction.text import TfidfVectorizer
import re
from nltk.corpus import stopwords
import nltk
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Esteban\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping corpora\stopwords.zip.

True

In [7]:
# Creamos una función de preprocesamiento para el texto
def preprocess_text(text):
    # Eliminamos caracteres especiales y puntuación
    text = re.sub(r'[^\w\s]', '', text)
    # Convertimos a minúsculas
    text = text.lower()
    # Se eliminan stopwords
    stop_words = set(stopwords.words('english'))
    text = ' '.join(word for word in text.split() if word not in stop_words)
    return text

In [11]:
# Se carga el dataset
df_ml = pd.read_csv('../Dataset_MVP/data_depurado.csv')
# Aplicamos el preprocesamiento al título en base a la "nube de palabras"
df_ml['title_processed'] = df_ml['title'].apply(preprocess_text)
print(df_ml['title_processed'])

0                   toy story
1                     jumanji
2            grumpier old men
3              waiting exhale
4        father bride part ii
                 ...
45447              robin hood
45448        century birthing
45449                betrayal
45450        satan triumphant
45451                queerama
Name: title_processed, Length: 45452, dtype: object

In [13]:
# Vectorización
tfidf = TfidfVectorizer(stop_words='english')
tfidf_matrix = tfidf.fit_transform(df_ml['title_processed'])
print(tfidf_matrix)

  (0, 20052)	0.5339829726459521
  (0, 21364)	0.8454952305744796
  (1, 11072)	1.0
  (2, 13472)	0.44216862921234484
  (2, 15049)	0.4958159895054748
  (2, 9018)	0.7474312061261443
  (3, 7148)	0.7982678793737356
  (3, 22598)	0.6023025757542126
  (4, 10212)	0.5041106991164298
  (4, 3055)	0.6113284332071218
  (4, 7398)	0.6100409410759824
  (5, 9508)	1.0
  (6, 18026)	1.0
  (7, 10020)	0.8034375654663235
  (7, 21230)	0.5953890143406637
  (8, 5518)	0.5386812876228796
  (8, 20231)	0.8425096262743569
  (9, 8741)	1.0
  (10, 16498)	0.8158063391416447
  (10, 964)	0.5783251827616602
  (11, 12568)	0.6635345109196596
  (11, 5493)	0.4453138767029794
  (11, 6301)	0.6011800928460387
  (12, 1871)	1.0
  (13, 14721)	1.0
  :	:
  (45438, 13227)	0.47020458395233206
  (45439, 5587)	0.6895294168311971
  (45439, 9503)	0.7242576774356135
  (45440, 13904)	1.0
  (45441, 14058)	1.0
  (45442, 17802)	0.6755735113500229
  (45442, 13587)	0.5250754096891398
  (45442, 19816)	0.5175869442924373
  (45443, 9938)	0.8373810853074215
  (45443, 9987)	0.5466195367615073
  (45444, 2549)	0.6618777807732223
  (45444, 23038)	0.542230260084183
  (45444, 18736)	0.5175945791522102
  (45445, 3283)	1.0
  (45446, 3408)	0.6251304228947915
  (45446, 215)	0.5888038322127754
  (45446, 9508)	0.5123690091554415
  (45447, 17673)	0.7086339325265967
  (45447, 9891)	0.7055763244836741
  (45448, 2483)	0.7970885753808956
  (45448, 3856)	0.6038624040269889
  (45449, 2339)	1.0
  (45450, 21552)	0.7841980338826692
  (45450, 18254)	0.6205106313791537
  (45451, 16867)	1.0

In [17]:
# Guardamos el DataFrame y el modelo entrenado
df_ml.to_csv('../Dataset_MVP/dataframe_ml.csv', index=False)
print(df_ml)
joblib.dump(tfidf, 'tfidf_vectorizer.joblib')
joblib.dump(tfidf_matrix, 'tfidf_matrix.joblib')

       belongs_to_collection      budget                      genres      id  \
0                    10194.0  30000000.0   Animation, Comedy, Family     862
1                        NaN  65000000.0  Adventure, Fantasy, Family    8844
2                   119050.0         0.0             Romance, Comedy   15602
3                        NaN  16000000.0      Comedy, Drama, Romance   31357
4                    96871.0         0.0                      Comedy   11862
...                      ...         ...                         ...     ...
45447                    NaN         0.0      Drama, Action, Romance   30840
45448                    NaN         0.0                       Drama  111109
45449                    NaN         0.0     Action, Drama, Thriller   67758
45450                    NaN         0.0                         NaN  227506
45451                    NaN         0.0                         NaN  461257

      original_language                                           overview  \
0                    en  Led by Woody, Andy's toys live happily in his ...
1                    en  When siblings Judy and Peter discover an encha...
2                    en  A family wedding reignites the ancient feud be...
3                    en  Cheated on, mistreated and stepped on, the wom...
4                    en  Just when George Banks has recovered from his ...
...                 ...                                                ...
45447                en  Yet another version of the classic epic, with ...
45448                tl  An artist struggles to finish his work while a...
45449                en  When one of her hits goes wrong, a professiona...
45450                en  In a small town live two brothers, one a minis...
45451                en  50 years after decriminalisation of homosexual...

       popularity                               production_companies  \
0       21.946943                            Pixar Animation Studios
1       17.015539  TriStar Pictures, Teitler Film, Interscope Com...
2       11.712900                       Warner Bros., Lancaster Gate
3        3.859495             Twentieth Century Fox Film Corporation
4        8.387519         Sandollar Productions, Touchstone Pictures
...           ...                                                ...
45447    5.683753  Westdeutscher Rundfunk (WDR), Working Title Fi...
45448    0.178241                                        Sine Olivia
45449    0.903007                            American World Pictures
45450    0.003503                                          Yermoliev
45451    0.163015                                                NaN

      production_countries release_date  ...    status  \
0                       US   1995-10-30  ...  Released
1                       US   1995-12-15  ...  Released
2                       US   1995-12-22  ...  Released
3                       US   1995-12-22  ...  Released
4                       US   1995-02-10  ...  Released
...                    ...          ...  ...       ...
45447       CA, DE, GB, US   1991-05-13  ...  Released
45448                   PH   2011-11-17  ...  Released
45449                   US   2003-08-01  ...  Released
45450                   RU   1917-10-21  ...  Released
45451                   GB   2017-06-09  ...  Released

                                                 tagline  \
0                                                    NaN
1              Roll the dice and unleash the excitement!
2      Still Yelling. Still Fighting. Still Ready for...
3      Friends are the people who let you be yourself...
4      Just When His World Is Back To Normal... He's ...
...                                                  ...
45447                                                NaN
45448                                                NaN
45449                             A deadly game of wits.
45450                                                NaN
45451                                                NaN

                             title vote_average vote_count  \
0                        Toy Story          7.7     5415.0
1                          Jumanji          6.9     2413.0
2                 Grumpier Old Men          6.5       92.0
3                Waiting to Exhale          6.1       34.0
4      Father of the Bride Part II          5.7      173.0
...                            ...          ...        ...
45447                   Robin Hood          5.7       26.0
45448          Century of Birthing          9.0        3.0
45449                     Betrayal          3.8        6.0
45450             Satan Triumphant          0.0        0.0
45451                     Queerama          0.0        0.0

                                                  actors         directors  \
0      Tom Hanks, Tim Allen, Don Rickles, Jim Varney,...     John Lasseter
1      Robin Williams, Jonathan Hyde, Kirsten Dunst, ...      Joe Johnston
2      Walter Matthau, Jack Lemmon, Ann-Margret, Soph...     Howard Deutch
3      Whitney Houston, Angela Bassett, Loretta Devin...   Forest Whitaker
4      Steve Martin, Diane Keaton, Martin Short, Kimb...     Charles Shyer
...                                                  ...               ...
45447  Patrick Bergin, Uma Thurman, David Morrissey, ...        John Irvin
45448  Angel Aquino, Perry Dizon, Hazel Orencio, Joel...          Lav Diaz
45449  Erika Eleniak, Adam Baldwin, Julie du Page, Ja...    Mark L. Lester
45450  Iwan Mosschuchin, Nathalie Lissenko, Pavel Pav...  Yakov Protazanov
45451                                                NaN     Daisy Asquith

       release_year     return       title_processed
0              1995  12.451801             toy story
1              1995   4.043035               jumanji
2              1995   0.000000      grumpier old men
3              1995   5.090760        waiting exhale
4              1995   0.000000  father bride part ii
...             ...        ...                   ...
45447          1991   0.000000            robin hood
45448          2011   0.000000      century birthing
45449          2003   0.000000              betrayal
45450          1917   0.000000      satan triumphant
45451          2017   0.000000              queerama

[45452 rows x 23 columns]

['tfidf_matrix.joblib']